*.html
*.tex
*.log

# Quarto and computation output
/.quarto/
/_book/
/.cache/
/site_libs/
/*_files/
/tikzdesigns/
/texput.*
/**/*.quarto_ipynb

# Local environments and generated metadata
/env/
/quarto/
/.direnv/
/.CondaPkg/
/_metadata.yml
/_environment
/LocalPreferences.toml
.conform*

**/*.quarto_ipynb
